<div mat-dialog-content>
  <p class="no-select-text" *ngIf="data.option == 'add'">Enter the name of your item</p>
  <p class="no-select-text" *ngIf="data.option == 'edit'">Edit the name of your item</p>
  <mat-form-field>
    <input #input matInput [(ngModel)]="data.name" required>
  </mat-form-field>
</div>
<div mat-dialog-actions align="end" class="no-select-text">
  <button mat-button mat-dialog-close (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data" [disabled]="validateField(data.name)" cdkFocusInitial>Ok</button>
</div>